.scroll-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.heading {
  font-size: 28px;
  line-height: 36px;
  color: #4d5946;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  margin-top: 150px;
  text-align: center;
  padding: 0 200px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-image {
  width: 600px;
  height: 70vh;
  opacity: 1; /* Initial opacity or as desired */
  margin: 40px;
}
