.about {
  display: flex;
  .about-image {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
    .first-image {
        height: 100%;
    }
    .second-image {
      position: absolute;
      height: 300px;
      bottom: -20%  ;
      left: 60%;
      img{
        height: 100%
      }
    }
  }
  .about-description{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    h3{
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 2px;
        font-family: "Playfair Display", serif;
    }
    p{
        font-family: "Playwrite AU TAS", cursive;
    }
}
}
