.footer-links {
  background: #d5d5d5 !important;
  width: 100%;
  h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    color: #8c568f;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", serif;
    text-align: center;
  }
}
