.masonry-grid {
    display: flex;
    width: auto;
    margin-top: 50px;
  }
  
  .masonry-grid_column {
    background-clip: padding-box;
    &:hover{
      
    }
  }
  
  .masonry-item {
    padding: 16px;
    border: 1px solid rgb(234, 231, 231); 
  }
  
  .masonry-item img {
    width: 90%;
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
  }
  
  .masonry-height{
    font-size: 10px;
  }