.masonary-box {
  overflow: hidden;
  cursor: pointer;
  img {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
  }
}
