.header-wrapper {
  position: absolute !important;
  box-shadow: none !important;
  padding-top: 30px !important;
  background-color: #ffffff80 !important;
}

.header {
  display: flex;
  padding: 0 50px !important;
}
