.header-wrapper {
  position: absolute !important;
  box-shadow: none !important;
  padding-top: 50px !important;
  background-color: transparent !important;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px !important;
  .logo {
    font-family: "Sevillana", cursive;
    font-size: 50px;
    font-weight: 800;
    color: #b0420c !important;
    cursor: pointer;
  }
  .link {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding: 0 100px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffa02a !important;
  }
}
