.root {
  flex-grow: 1;
  padding: 200px;
  h1 {
    font-size: 40px;
    text-align: center;
    color: #585123;
    font-family: "Playfair Display", serif;
    margin-bottom: 100px;
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  @media screen and (max-width: 600px) {
    padding: 50px;
  }
}
.paper {
  text-align: "center";
  display: flex;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 150px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  .icon {
    height: 100px;
  }
  .heading {
    font-family: "Playfair Display", serif;
  }

  &:hover {
    transition: all 0.6s ease-in-out;
    background: #585123;
    transform: scale(1.06);
    .heading {
      color: #ffff;
    }
  }

  @media screen and (max-width: 1200px) {
    .icon {
      height: 100px;
    }
  }
}
