.root {
  flex-grow: 1;
  padding: 200px;
  h1 {
    font-size: 40px;
    text-align: center;
    color: #8c568f !important;
    font-family: "Brooklyn-Bold";
    margin-bottom: 20px;
    transition: all 0.5s ease-out;
    font-weight: bold;
    &:hover {
      transform: scale(1.2);
    }
  }
  p {
    margin-bottom: 100px !important;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
  }
  @media screen and (max-width: 600px) {
    padding: 50px;
  }
}
.paper {
  text-align: "center";
  display: flex;
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  height: 200px;
  padding: 20px;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  .icon {
    height: 100px;
  }
  .paper-heading {
    font-family: "Brooklyn-Bold";
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }

  &:hover {
    transition: all 0.6s ease-in-out;
    background: #8c568f;
    transform: scale(1.06);
    .paper-heading {
      color: #ffffff !important;
    }
  }

  @media screen and (max-width: 1200px) {
    .icon {
      height: 60px;
    }
  }
}
