.App {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: hidden;
  transition: transform 1s ease-in-out; /* Transition for translation */
}

.App.translated {
  transform: translateY(-100vh); /* Translate up by 100vh */
  height: auto;
  overflow: hidden; /* Enable scrolling after loading */
}

.Home {
  position: relative;
  overflow: hidden; /* Ensure Home takes full viewport height */
}
